@model  Entities.Projeto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de Projeto</h2>

</br>
<form   data-bind="with: Projeto">
    <fieldset>
        <div class="well">
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Empresa</label>
                    <select class="form-control" data-bind="options:ListaEmpresa, optionsValue:'Id_empresa', optionsText: '_Empresa',value:ID_Empresa, optionsCaption: 'Selecione a Empresa'"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group" data-bind="validationElement: Descricao">
                    <label>Descrição</label>
                    <textarea class="form-control col-md-12" rows="2" cols="1204" maxlength="5000" data-bind="value:Descricao" placeholder="Digite a Descrição"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: salva_projeto">Salvar</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-sm " })
</div>


@section Scripts {


    <script>

        var parsedJSON = @Html.Raw(Json.Encode(Model));
        var ScreenModel = function  () {

            self = this,
            self.Projeto = new projetoModel(parsedJSON);

            ListaEmpresa = ko.utils.arrayMap(parsedJSON.ListaEmpresa, function(item) {

                return ({Id_empresa: item.ID, _Empresa:item.Nome });
            });


            self.salva_projeto=  function (data) {
               
                $.ajax({
                    url: '@Url.Action("Edit/")',
                    type: 'post',
                    dataType: 'json',
                    data:ko.toJSON(screenModel),
                    contentType: 'application/json',
                    success: function (data) {

                        if(screenModel.ID == 0)
                        {
                            console.log(self.ID);
                            controle.showSuccessPopup('PROJETO', 'Projeto Cadastrado com sucesso!','@Url.Action("Index")');
                        }
                        else
                        {
                            controle.showSuccessPopup('PROJETO', 'Projeto alterado com sucesso!','@Url.Action("Index")');
                        }
                    },

                });

            };

        };

        var projetoModel = function(projeto){
            self = this,
            self.ID = ko.observable(projeto.ID);
            self.ID_Empresa= ko.observable(projeto.ID_Empresa);
            self.Descricao = ko.observable(projeto.Descricao).extend({required:true});

            }
        var screenModel = new ScreenModel();
        ko.applyBindings(screenModel);

    </script>
}